/* --- Colors --- */
/* --- Colors --- */
/* --- Rules --- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: lato, sans-serif;
}

/* Font */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 80px;
  letter-spacing: -.015em;
}

h1 {
  font-size: 56px;
}

h2, h3, h4, h5, h6 {
  font-size: 52px;
}

p {
  font-size: 16px;
  line-height: 32px;
}

.m-font-size {
  font-size: 32px;
  font-weight: bold;
}

/* --- Rules --- */
/* --- Containers --- */
.wrapper {
  max-width: 1224px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.verticalCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CTA {
  padding: 15px 40px;
  background: #DC5B6B;
  color: #FFF;
}

/* --- Containers --- */
/* --- Staples --- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 39px;
  padding: 14px 26.5px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  max-width: 475px;
  width: 100%;
}

header nav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #FFF;
}

/* --- Staples --- */
/* --- Sections --- */
.hero {
  background: black;
  height: 100vh;
  /* ^ (PH) */
}

.hero h1 {
  color: #FFF;
}

.info .wrapper {
  position: relative;
}

.info .wrapper article {
  position: absolute;
  margin-top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.info figure {
  width: calc( 50% - 112px);
  margin-left: calc(50% + 112px);
  height: 100vh;
  background: #000;
  overflow: hidden;
  border-radius: 120px 0 0 0;
  /* ^ (PH) */
}

@media screen and (max-width: 1440px) {
  .info figure {
    width: 41.666%;
  }
}

.alt {
  background: url(), #3D5BCD;
  /* ^ (PH) Add image */
}

.productSlide .product figure {
  aspect-ratio: 1;
  background: #3D5BCD;
  border-radius: 20px;
}

.productSlide .product a {
  color: #DC5B6B;
  /* arrow? wtf (PH) */
}

.insta section div {
  width: 50%;
}

/* --- Sections --- */
/* --- Columns --- */
.col1 {
  width: calc((100% / 12) * 1);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col2 {
  width: calc((100% / 12) * 2);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col3 {
  width: calc((100% / 12) * 3);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col4 {
  width: calc((100% / 12) * 4);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col5 {
  width: calc((100% / 12) * 5);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col6 {
  width: calc((100% / 12) * 6);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col7 {
  width: calc((100% / 12) * 7);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col8 {
  width: calc((100% / 12) * 8);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col9 {
  width: calc((100% / 12) * 9);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col10 {
  width: calc((100% / 12) * 10);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col11 {
  width: calc((100% / 12) * 11);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.col12 {
  width: calc((100% / 12) * 12);
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.push1 {
  margin-left: calc((100% / 12) * 1);
}

.push2 {
  margin-left: calc((100% / 12) * 2);
}

.push3 {
  margin-left: calc((100% / 12) * 3);
}

.push4 {
  margin-left: calc((100% / 12) * 4);
}

.push5 {
  margin-left: calc((100% / 12) * 5);
}

.push6 {
  margin-left: calc((100% / 12) * 6);
}

.push7 {
  margin-left: calc((100% / 12) * 7);
}

.push8 {
  margin-left: calc((100% / 12) * 8);
}

.push9 {
  margin-left: calc((100% / 12) * 9);
}

.push10 {
  margin-left: calc((100% / 12) * 10);
}

.push11 {
  margin-left: calc((100% / 12) * 11);
}

.push12 {
  margin-left: calc((100% / 12) * 12);
}

@media screen and (max-width: 834px) {
  .m-col1 {
    width: calc((100% / 8) * 1) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-col2 {
    width: calc((100% / 8) * 2) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-col3 {
    width: calc((100% / 8) * 3) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-col4 {
    width: calc((100% / 8) * 4) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-col5 {
    width: calc((100% / 8) * 5) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-col6 {
    width: calc((100% / 8) * 6) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-col7 {
    width: calc((100% / 8) * 7) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-col8 {
    width: calc((100% / 8) * 8) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .m-push1 {
    margin-left: calc((100% / 8) * 1) !important;
  }
  .m-push2 {
    margin-left: calc((100% / 8) * 2) !important;
  }
  .m-push3 {
    margin-left: calc((100% / 8) * 3) !important;
  }
  .m-push4 {
    margin-left: calc((100% / 8) * 4) !important;
  }
  .m-push5 {
    margin-left: calc((100% / 8) * 5) !important;
  }
  .m-push6 {
    margin-left: calc((100% / 8) * 6) !important;
  }
  .m-push7 {
    margin-left: calc((100% / 8) * 7) !important;
  }
  .m-push8 {
    margin-left: calc((100% / 8) * 8) !important;
  }
}

@media screen and (max-width: 500px) {
  .s-col1 {
    width: calc((100% / 4) * 1) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .s-col2 {
    width: calc((100% / 4) * 2) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .s-col3 {
    width: calc((100% / 4) * 3) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .s-col4 {
    width: calc((100% / 4) * 4) !important;
    padding-left: 12px;
    padding-right: 12px;
  }
  .s-push1 {
    margin-left: calc((100% / 4) * 1) !important;
  }
  .s-push2 {
    margin-left: calc((100% / 4) * 2) !important;
  }
  .s-push3 {
    margin-left: calc((100% / 4) * 3) !important;
  }
  .s-push4 {
    margin-left: calc((100% / 4) * 4) !important;
  }
}

/* --- Columns --- */
/*# sourceMappingURL=style.css.map */